body {
  height: 410vh;
  color: rgb(245, 240, 240);
  background: #3464ce;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
  margin: auto;
  z-index: 99;
  text-align: center;
}

.section {
  height: 600px;
  position: relative;
  border: 2px solid rgb(68, 68, 68);
  background: #999cdd;
}

.one {
  overflow: hidden;
}

#stepOne {
  width: 200px;
  position: absolute;
  right: 5%;
  animation: slideInLTR 1.5s ease-in;
}

.flake {
  z-index: 10;
  position: absolute;
  top: -20px;
  animation: snowfallShake 3s ease-in-out infinite,
    snowfallFall 7s linear infinite;
}

.two {
  border-bottom: 22px solid rgb(230, 228, 228);
}

#stepTwo {
  width: 200px;
  left: 100%;
  position: absolute;
}

#ballBig {
  background: rgb(230, 228, 228);
  border-radius: 50%;
  bottom: 0px;
  position: absolute;
}

.three {
  border-bottom: 22px solid rgb(230, 228, 228);
}

#ballSmall {
  width: 75px;
  height: 75px;
  background: rgb(230, 228, 228);
  border-radius: 50%;
  bottom: 0px;
  position: absolute;
}

#ballMed {
  width: 120px;
  height: 120px;
  background: rgb(230, 228, 228);
  border-radius: 50%;
  bottom: 0px;
  position: absolute;
}

#stepThree {
  width: 200px;
  position: absolute;
  left: 100%;
}

.four {
  border-bottom: 22px solid rgb(230, 228, 228);
}

#stepFour {
  width: 200px;
  position: absolute;
  right: 100%;
}

.four .snowman {
  border-radius: 47%;
  background: rgb(230, 228, 228);
  margin: -5px auto;
  display: block;
}

.four .head {
  margin-top: 55px;
}

.five {
  border-bottom: 22px solid rgb(230, 228, 228);
}

.five .snowman {
  border-radius: 47%;
  background: rgb(230, 228, 228);
  margin: 0 auto -5px auto;
  display: block;
}

.head {
  width: 100px;
  height: 100px;
}

.eyes {
  margin: 4px 0;
}

.eye {
  display: inline-block;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  border: 4px solid black;
}

#mouth {
  border-radius: 100%/70%;
  width: 40px;
  height: 20px;
  border-bottom: 4px dotted black;
}

#nose {
  height: 0;
  width: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 35px solid #d46322;
  border-radius: 45%;
}

.chest {
  width: 180px;
  height: 180px;
}

.chest ul {
  margin: 0;
  padding-top: 20px;
  color: black;
}

.chest li {
  margin-bottom: 8px;
}

.body {
  width: 280px;
  height: 280px;
}

@keyframes slideInLTR {
  0% {
    right: 100%;
  }
  86% {
    right: 5%;
  }
  92% {
    right: 9%;
  }
  100% {
    right: 5%;
  }
}

@keyframes slideInRTL {
  0% {
    left: 100%;
  }
  86% {
    left: 5%;
  }
  92% {
    left: 9%;
  }
  100% {
    left: 5%;
  }
}

@keyframes snowfallShake {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(60px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes snowfallFall {
  0% {
    top: 0%;
  }
  100% {
    top: 100%;
  }
}
